@media all and (max-width: $tablet_width) {
  .main {
    grid-template-columns: 1fr;
    gap: $gap;
  }

  .content-archive {
    display: grid;
    grid-template-columns: 3.5fr 2fr;
  }

  .header__menu {
    display: none;
  }
  .menu-trigger {
    display: flex;
    padding-bottom: 26px;
  }
}

@media all and (max-width: $mobile_width) {
  .main {
    grid-template-columns: 1fr;
    gap: $gap;
  }
  .content-archive {
    grid-template-columns: 1.5fr;
    grid-template-rows: 200px 1fr;
  }

  a.content-archive__img_wrapper {
    grid-row: 1/2;
  }
  .content-single__img {
    height: 200px;
  }
  .section__container {
    padding: 0 7px;
  }
  [class^="content-archive__icon_"] {
    font-size: 0.8rem;
  }

  .content-single__title {
    font-size: 1.5rem;
  }
  .header__title {
    font-size: 2rem;
  }

  .header__description {
    text-align: center;
  }

  .menu-mobile__item {
    width: 300px;
  }

  .content-archive__text,
  .sidebar__box,
  .content-single {
    padding: $gap/2;
  }
  .sidebar,
  .main {
    gap: $gap/2;
  }

  .section__content {
    padding: $gap/2 0;
  }
}
