.has-darkblue-color {
  color: $main-color-blue;
}
.has-darkgray-color {
  color: $main-color-grey;
}
.has-lightgray-color {
  color: $main-color-light-grey;
}
.has-white-color {
  color: $main-color-white;
}
.has-darkblue-color {
  color: $main-color-blue;
}

.content-single__contentwrapper {
  p {
    padding-bottom: $gap/2;
  }
  .quote {
    display: block;
    margin-left: 40px;
    padding-left: $gap/2;
    border-left: 3px solid $main-color-blue;
  }
}
