@import "../variables";

body {
  p {
    padding-bottom: $gap/2;
  }

  .quote {
    padding-left: $gap/2;
    border-left: 3px solid $main-color-blue;
  }
}

.wp-block {
  max-width: 800px;

  &[data-align="wide"] {
    max-width: 800px;
  }

  &[data-align="full"] {
    max-width: 800px;
  }
}
